@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    font-family: 'Inter', sans-serif;
    background: hsl(0, 0%, 100%);
    margin-left: 4rem;
    margin-right: 4rem;
}

.total-follw{
    color:hsl(228, 12%, 44%) ; 
}
.social-heading{
    margin-top: 1.5rem;
}

.dark-mode{
    color:hsl(228, 12%, 44%) ; 
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.followers-dark{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bxs-toggle-right{
    font-size: 2.2rem;
}


.heading-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(4rem, 1fr));
    background-color: white  ;
    gap:2rem ; 
}

.socialmedia-details {
    margin-top: 1rem;
  background-color:hsl(227, 47%, 96%)  ;
  border: 1px solid  hsl(227, 47%, 96%)  ;
  padding: 1rem;
  text-align: center;
  
}
.facebook{
    border-top: solid .2rem  hsl(208, 92%, 53%) ;
}

.twitter {
   border-top: solid .2rem hsl(203, 89%, 53%);
}

.instagram{
    border-top: solid .2rem  hsl(329, 70%, 58%);
}

.youtube{
    border-top: solid .2rem hsl(348, 97%, 39%);
}

.socialmedia-name{
    display: flex;
    justify-content: center;
    align-items: center;
}


.username{
    font-size: .8rem;
    
}

.bxl-facebook-square{
    color: hsl(208, 92%, 53%);
}
.bxl-twitter{
   color:  hsl(203, 89%, 53%);
}
.bxl-instagram{
    color: hsl(329, 70%, 58%);
}
.bxl-youtube{
    color:hsl(348, 97%, 39%) ;
}

.no-of-followers{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: .5rem;
}

.followers{
    letter-spacing: .1cm;
    color: hsl(228, 12%, 44%) ;
    font-size: .6rem;
    text-transform: uppercase;
}
.today{
    
    font-size: .7rem;
}
.icon-today{
    display: flex;
    color: hsl(163, 72%, 41%);
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.overview-para{
    color: hsl(228, 12%, 44%) ;
    margin-top: 1rem;
}

.the-overview-container{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(4rem, 1fr));
    background-color: white  ;
    gap:2rem ; 
}

.overview-container{
    background-color:hsl(227, 47%, 96%)  ;
    border: 1px solid  hsl(227, 47%, 96%)  ;
    padding: 1rem;
    text-align: center;
}

.page-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    
}

.no-icons{
    display: flex;
    color: hsl(163, 72%, 41%);
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    
}

.numbers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.3rem;

}
.overview-details{
    color: hsl(228, 12%, 44%) ;
}


/* responsive screen for 700px, 500px, and below */

@media (max-width:500px) {

    .heading-container{
        display: grid;
        grid-template-columns: repeat(1, minmax(4rem, 1fr));
        background-color: white  ;
        gap:2rem ; 
    }

    .the-overview-container{
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(1, minmax(4rem, 1fr));
        background-color: white  ;
        gap: 1.5rem ; 
    }

    .dark-mode{
        color:hsl(228, 12%, 44%) ; 
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;   
                 
    }

    .socialmedaia-dashoard-heading{
        margin-left: 1rem;
    }

    .total-follw{
        padding-bottom: 1rem;
        border-bottom: solid .1rem hsl(230, 17%, 73%) ;

    }

    .followers-dark{
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-items: center; */    
        
    }
    
    .bxs-toggle-right{
       font-size: 1.8rem;
        margin-left: 4rem;
    }
    
}

@media (max-width:700px){
    .heading-container{
        display: grid;
        grid-template-columns: repeat(1, minmax(4rem, 1fr));
        background-color: white  ;
        gap:2rem ; 
    }

    .the-overview-container{
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(4rem, 1fr));
        background-color: white  ;
        gap: 1.5rem ; 
    }
    

}